html{
    height: 100%;
}
.container{
    height: 100%;
    positon:relative;
}
.main{
    padding-bottom: 50px;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
}
body{
    background-color: beige;
}
div{

}
